.settlement-history-modal {
  width: 90vw !important;

  .settlement-timeline {
    .rct-header-root {
      background-color: var(--orange);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      .rct-calendar-header {
        border-top: none;
        border-right: none;
      }
    }
  }
}
