.header {
  display: flex;
  height: auto;
  background-color: transparent;
  justify-content: space-between;
  align-items: start;
  padding: 0px 32px;

  &__logo {
    height: 64px;
  }

  &__menu {
    border-bottom: none;

    li:last-child {
      padding-right: 0;

      &::after {
        width: calc(100% - 16px);
      }
    }
  }

  &__notificationPopover {
    :global {
      .ant-popover-content {
        width: 350px;
      }
    }

    .notification {
      &:hover {
        cursor: pointer;
      }
    }

    .notificationsPagination {
      width: fit-content;
      margin: 8px auto 0;
    }
  }
}
