.header {
  display: flex;
  height: auto;
  background-color: transparent;
  justify-content: space-between;
  align-items: end;
  padding: 0px 32px;

  &__logo {
    height: 64px;
  }

  &__menu {
    border-bottom: none;

    li:last-child {
      padding-right: 0;

      &::after {
        width: calc(100% - 16px);
      }
    }
  }
}
