.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  background-color: #fff;
  padding: 10px;

  .logo {
    position: absolute;
    top: 44px;
    left: 70px;
    width: 12%;
  }

  .title {
    color: var(--orange);
    font-size: 45px;
    margin: 0 0 20px;
  }

  .text {
    color: var(--orange);
    font-size: 20px;
    margin: 0 0 65px;
    text-align: center;
  }

  .loginForm {
    margin: 0 auto;
    max-width: 383px;

    &__item {
      :global {
        .ant-form-item-label {
          padding-bottom: 16px;
        }
      }

      label {
        font-size: 20px;
        font-weight: 500;
      }
    }

    .infoMessage {
      border-radius: 6px;
      border: 1px solid #fa7a45;
      background: #fff;
      padding: 14px;
      font-size: 16px;
      margin-bottom: 24px;
    }

    .submitButton {
      width: 100%;
      padding: 13px 0;
      font-size: 20px;
      font-weight: 600;
      height: 50px;
      line-height: normal;
    }
  }
}
