@import './assets/variables.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body div#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}